body {
    Color: pink;
    background-image: url("sister.JPG"); 
}

section{
    color: #693f1b;
    background-color: rgba(201, 185, 118, 0.42);
    text-align: justify;
    padding-top: 15;
    transform: translateY(5%);
    font-family: 'Indie Flower', cursive;
    font-size: 25;
    line-height: 1.75;
}

/* SAME FOR ALL*/

.footer {
   position: fixed;
   left:0 ;
   bottom: 0;
   width: 11%;
   color: white;
   text-align: left;
}

.clickme{
    color: white  !important;
    font-size: 15;
    font-family: 'Indie flower', cursive;
    background-color: rgba(255, 192, 203, 0.82);
    padding-bottom: 5;
    padding-top: 5;
    top: 50%;
    transform: translateY(50%);
}
a:active {
    color: white;
}
a:visited {
    color:white;
}