
H1{
    color: #8b49ac;
}
H3{
    color: #a27db4
}
H4{
    color:6bbaa0
}
H5{
    color:#cc747d
}
H6{
    color: #63357b
}
li{
    color:#cc747d
}
a{
    color:#6bbaa0
}
body{
    color: #63357b; background: rgb(250, 235, 215)
}
.col-3{
    color: #a27db4
}
#header{
    background: #ed919a
}

#table{
    background: #ffffff
}
#second{
    background: #f8c3c8
}
#email{
    color:#cc747d
}
b{
    color:#cc747d
}