html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    background-image: url(greybg.jpeg);
    background-size: 700px;
    color: grey;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.display-4{
    Color: white;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    
}
#jumbotron{
    background: pink;
    Color: white;
    padding-top: 15;
    padding-bottom: 0.1;
    font-family: 'Caveat', cursive;
    font-size: 22;
    
}
#carousel {
    overflow:hidden;
}
.carousel-caption{
    color: Grey  !important;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.71);
    font-family: 'Dancing Script', cursive;
}

.title{
    font-size: 80;
    font-family: 'Righteous', cursive;
    
}
.caption{
        font-size:35;
        top: 50%;
        transform: translateY(-50%);
}
.clickme{
        color: Grey  !important;
        font-size: 15;
        font-family: 'Indie flower', cursive;
        background: rgba(255, 255, 255, 0.71);
        top: 50%;
        transform: translateY(350%);
}
a:active {
    color: gray;
}
a:visited {
    color: gray;
}

.titletitle{
    font-size: 65;
    font-family: 'lobster', cursive;
    
}
.captioncaption{
    font-size:35;
    top: 50%;
    transform: translateY(-30%);
}
.footer{
    width: 100%;
   background-color: #e0e0e0;
   color:  #dd6e82;
    
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
    padding-left: 5;
    padding-top: 5;
    padding-bottom: 3;
}
